{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class="container py-5 align-items-center">
  <!-- Book section-->
         <section>
             <div class="container px-4 px-lg-5 mb-2 align-items-center">
                 <div class="row gx-4 gx-lg-5 align-items-center">
                     <div class="col-md-4"><img class="card-img-top pe-2 " src="{% static book_item.cover %}" alt="..." /></div>
                     <div class="col-md-6">
                         <div class="small mb-1"></div>
                         <h1 class="display-5 fw-bolder">{{book_item.name}}</h1>
                          <div class="d-flex">
                            <p>{{book_item.desc}}<br>
                            <B>Author:</B> {{book_item.author}}<br>
                             <B>ISBN:</B> {{book_item.ISBN}}<br>
                             <B>Genre:</B> {{book_item.genre}}<br>
                             <B>Pages:</B> {{book_item.pages}}</p>
                         </div>


                         <div class="d-flex">
                           <!--<a class="btn" href="{% url 'books:review_form' book_item.id %}">View Details</a> -->
                             <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                 <i class="bi-cart-fill me-1"></i>
                                 <a href="{% url 'books:review_form' book_item.id %}">Add Review </a>
                             </button>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
<hr>




<section>
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h2 class="my-4">Community Reviews</h2>
    </div>
  </div>
  <div class="row">
    {% for review in reviews %}
    <div class="col-sm-6">
    <div class="card ">
      <div class="card-header">
        {{review.title}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{review.body}}</p>
          <footer class="blockquote-footer"> {{review.author}}</footer>
        </blockquote>
      </div>
    </div>
    </div>
    {% empty %}
    <h5 class="ml-5">No reviews has been submitted to this book yet.</h5>
  {% endfor %}
  </div>
  </div>
</section>

{% endblock %}
