{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class="container py-5">
    <h1 class="mb-3">Fiction Books</h1>
  <div class="row">
    <div class="card-group">
      {% for item in book_objects %}
        <div class="col-md-3">
          <div class="card mb-3">
                <img class="card-img-top" style="object-fit: cover" src="{% static item.cover %}" alt="{{item.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.author}}</p>
                    <a class="btn" href="{% url 'books:book_detail' item.id %}">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
</div>
</div>
{% endblock %}
